
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RDSL Pinger API</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="icon" type="image/x-icon" href="https://5895b253-7316-4557-b4fb-f3a24165a4ae.id.repl.co/static/assets/favicon.ico">
<script>
const contents = document.getElementById("contents");
const items = document.querySelectorAll("section:not(:first-of-type)");

for (item of items) {

  let contentsItem = document.createElement("LI");
  let contentsLink = document.createElement("A");

  contentsLink.href = "#" + item.id;
  contentsLink.innerText = item.firstElementChild.firstElementChild.innerText;

  contentsItem.appendChild(contentsLink);
  contents.appendChild(contentsItem);

}
</script>
<style>
body {
  background-color: ##140b7a;
}

:target > div {
  background-color: #49443c;
  border-left: 3px solid #faa81a;
}

section {
  padding-top: 10px;
}

section > div {
  padding: 10px;
}

h3 {
  margin-top: 0;
}

h2, p {
  margin: 5px 0 10px;
}
</style>
  </head>
  <body>
    <h1>How to use the RDSL API</h1>
    <h2>Add/remove repls to RDSL Pinger API</h2>
    <section id="add"><div>
      <h2>ADD a repl via the Replit Shell via POST requests</h2>
      <p>Run this in a Replit Shell to ADD the URL to the pinger!<br>
<code>curl https://up.rdsl.ga/api/cli -X POST -F "add=https://${REPL_SLUG}.${REPL_OWNER}.repl.co"</code></p>
    </div></section>

    <section id="remove"><div>
      <h2>REMOVE a repl via the Replit Shell</h2>
      <p>Run this in a Replit Shell to REMOVE it from the pinger via POST requests<br>
<code>curl https://up.rdsl.ga/api/cli -X POST -F "add=rem https://${REPL_SLUG}.${REPL_OWNER}.repl.co"</code>
      </p>
    </div></section>

    <section id="add-api-curl"><div>
      <h2>Or use an external source with a POST request</h2>
      <p>Bash example: It should look like this:<br>
<code>curl https://up.rdsl.ga/api/cli/json -X POST -F "add=https://repl.guy.repl.co"</code></p>
    </div></section>
<section id="add-api-py"><div>
      <h2>NodeJS POST example:</h2>
      <p>NodeJS should look like this:<br>
<pre><code>data = { 
import fetch, { FormData } from 'node-fetch';

const form = new FormData();
form.append('add', 'https://repl.guy.repl.co');

fetch('https://up.rdsl.ga/api/cli/json', {
    method: 'POST',
    body: form
});</code></pre></p>
</div></section>
    <section id="add-api-py"><div>
      <h2>Python POST example:</h2>
      <p>Python should look like this:<br>
<pre><code>data = { 
    'add': (None, 'https://repl.guy.repl.co'),
}

response = requests.post('https://up.rdsl.ga/api/cli/json', data=data)</code></pre></p>
      <p>The <code>https://up.rdsl.ga/api/cli/json</code> URL returns data in JSON via the argument <code>msg</code>.</p>
    </div></section>
  <br>
  <h1>Stats API</h1>
  <h6>Small notice: This has a ratelimit of 1 request per 30 seconds!</h6>
      
    <section id="stats-api"><div>
      <h2>How to get stats from RDSL Pinger:</h2>
      <p>Using Bash it would look like this:<br>
<code>curl https://up.rdsl.ga/api/stats</code></p>
      <p>Then you get a JSON response with all stats</p>
    </div></section>
      
    <section id="stats-api-py"><div>
      <h2>Python example GET all stats data</h2>
      <p>Python should look like this<br>
<pre><code>f = request("https://up.rdsl.ga/api/stats")
print(f)
</code></pre></p>
      <p>Then you also get a JSON response with all stats</p>
    </div></section>

    </div></section>
<p> - Other sources of info: <a href="/static/FAQ.pdf">FAQ</a></p>
<p><a href="/">Go back</a></p>
</body>
</html>

<!--
 * @INFO
 * RDSL Pinger Coded by Raadsel#9398 | https://replit.com/@Raadsel
 * @INFO
 * Please mention Me, when using this Code!
 * @INFO
 -->