<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Raadsel | Other pingers</title>

    <meta property="og:title" content="RDSL Pinger - A simple uptimer!"> 
    <meta property="og:image" content="static/assets/favicon.ico"> 
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <meta property="og:description" content="All comminity made pingers: up.coding398.dev - up.terminatorfishstudios.com - cactus-pinger.codingcactus.repl.co - up.rdsl.ga - up.may-be.gay"> 
    <meta name="theme-color" content="#E0FFFF"> 
    <meta name="description" content="All comminity made pingers:\nup.coding398.dev\nup.terminatorfishstudios.com\ncactus-pinger.codingcactus.repl.co\nup.rdsl.ga\nup.may-be.gay">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
<script>
const contents = document.getElementById("contents");
const items = document.querySelectorAll("section:not(:first-of-type)");

for (item of items) {

  let contentsItem = document.createElement("LI");
  let contentsLink = document.createElement("A");

  contentsLink.href = "#" + item.id;
  contentsLink.innerText = item.firstElementChild.firstElementChild.innerText;

  contentsItem.appendChild(contentsLink);
  contents.appendChild(contentsItem);

}
</script>
<style>
body {
  background-color: ##140b7a;
}

:target > div {
  background-color: #49443c;
  border-left: 3px solid #faa81a;
}

section {
  padding-top: 10px;
}

section > div {
  padding: 10px;
}

h3 {
  margin-top: 0;
}

h2, p {
  margin: 5px 0 10px;
}
</style>
  </head>
  <body>
    <h1>Other pingers</h1>
    <h4>Sometimes, Replit doesn't persist files.
This means that now and then, when you add your webserver,
it will stop being pinged after a few hours.</h4>
    <h3>These are all community made pingers. Made by replers, for replers</h3>

<section id="pingers"><div>
<p>
<li style="--c:#f1c40f;"><span><span></span><a href="https://up.rdsl.ga">https://up.rdsl.ga</a><br></span>
<li style="--c:#f1c40f;"><span><span></span><a href="https://up.coding398.de">https://up.coding398.dev</a><br></span>
<li style="--c:#f1c40f;"><span><span></span><a title="long url" href="https://up.terminatorfishstudios.com">https://up.terminatorfishstudios.com</a><br></span>
<li style="--c:#f1c40f;"><span><span></span><a href="https://up.may-be.gay">https://up.may-be.gay</a><br></span>
<li style="--c:#f1c40f;"><span><span></span><a title="HUGE URL" href="https://cactus-pinger.codingcactus.repl.co/">https://cactus-pinger.codingcactus.repl.co</a><br></span>
</p>
</div></section>

<p> - <a href="/FAQ">FAQ</a></p>
<p> - <a href="/">Go back</a></p>
    





<!--
 * @INFO
 * RDSL Pinger Coded by Raadsel#9398 | https://replit.com/@Raadsel
 * @INFO
 * Please mention Me, when using this Code!
 * @INFO
 -->